.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: 10px 5px;
}

.hideButton {
  @include buttonRoundNormal;
  background-color: $clr-base;
  margin-left: auto;
}

.fixedHideButton {
  @include buttonRoundNormal;
  background-color: $clr-base;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 9px;
}

.blockWrapper {
  display: flex;
  flex-direction: column;

  @include media ('min', 'm') {
      padding-bottom: 5px;
    }
}