.section {
  @include playgroundSection;
}

.codemirror {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  color: $clr-second;
}

.button {
  @include buttonMainNormal;
  margin-top: 13px;
  margin-bottom: 25px;
}
