.pane {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
  position: relative;
  padding-bottom: 0;

  @include media('max', 'xl') {
    padding: $padding-small-k;
    padding-bottom: 0;
  }
}

.paneCenter {
  padding-bottom: $padding-small-k;
  background-color: $clr-base;
  border-radius: $border-radius-small;
}

.paneLeft {
  flex-direction: row-reverse;
  padding-right: 5px;
}

.docsSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.centerHeader {
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hideButton {
  @include buttonRoundNormal;
  margin-left: 5px;
  margin-top: -20px;

  @include media('max', 'xl') {
    margin-top: -$padding-small-k;
  }
}

.runButton {
  @include buttonMainActive;
  height: 37px;
}
