.pane {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 15px;
  flex-direction: column;
  position: relative;

  & ::-webkit-scrollbar {
    width: 4px;
  }

  & ::-webkit-scrollbar:horizontal {
    height: 4px;
  }

  & ::-webkit-scrollbar-thumb {
    background: $clr-scroll;
    border-radius: $border-radius-tiny;
    cursor: pointer;
  }
}

.paneCenter {
  background-color: $clr-base;
  border-radius: $border-radius-small;
}

.paneLeft {
  flex-direction: row-reverse;
  padding-right: 5px;
}

.docsSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.centerHeader {
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 5px;
  flex-shrink: 0;
}

.hideButton {
  @include buttonRoundNormal;
  margin-left: 5px;
  margin-top: -10px;
}

.runButton {
  @include buttonMainActive;
  height: 37px;
}
