.container {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: $size-2;

  width: $width-form;
  max-width: 100vw;
  min-height: 30vh;

  padding: $padding-medium;

  border-radius: $border-radius-small;
  background-color: $clr-base;
}
