.container {
  position: relative;
  z-index: 2;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: $size-2;

  width: 100%;
  max-width: $width-form;
  min-height: 30vh;

  padding: $padding-small-k;

  @media screen and (min-width: $width-form){
    padding: $padding-medium;
  }

  border-radius: $border-radius-small;
  background-color: $clr-base;
}
