.button {
  padding: 1rem;
  border-radius: 100%;
  background-color: $clr-base;
  transition: $transition-basic;
  border: none;
  color: $clr-second;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  width: 35.5px;
  height: 35.5px;

  &:hover {
    background-color: $clr-active;
  }
}