.section {
  position: relative;
  width: calc(100% - $padding-body * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;

  @include media('max', 'l') {
    margin-bottom: 120px;
  }
}

.list {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 450px;
  padding: 20px;
  border-radius: $border-radius-small;
  gap: $gap-great;

  @include media('max', 'xl') {
    max-height: 400px;
    gap: $gap-big;
  }

  @include media('max', 's') {
    gap: $gap-medium;
  }

  @include media('max', 'xs') {
    padding: 0;
  }

  &.num-0 {
    align-self: flex-end;

    @include media('max', 'l') {
      flex-direction: column;
      height: auto;
      max-height: none;
      margin-bottom: 40px;
      align-self: flex-end;
      width: 90%;

      .video {
        width: 100%;
      }
    }

    @include media('max', 's') {
      width: 100%;
    }
  }

  &.num-1 {
    margin-top: -50px;
    max-width: 60%;

    @include media('max', 'l') {
      margin-top: auto;
      max-width: 80%;
    }

    @include media('max', 's') {
      max-width: 100%;
    }

    .info {
      order: 1;
    }
  
    .video {
      width: 200px;
      object-fit: cover;
      height: 400px;

      @include media('max', 's') {
        height: 200px;
        width: 100px;
      }
    }
  }

  &.num-2 {
    margin-top: -20px;
    max-width: 90%;

    @include media('max', 'l') {
      flex-direction: column-reverse;
      height: auto;
      max-height: none;
      margin-top: 40px;
      width: 80%;
      align-self: flex-end;

      .video {
        width: 100%;
      }
    }

    @include media('max', 's') {
      width: 100%;
      max-width: 100%;
    }
  }
}

.info {
  flex-grow: 1;
  max-width: 400px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: $gap-big;

  @include media('max', 'l') {
    max-width: 80%;
  }

  @include media('max', 's') {
    flex-direction: column;
  }

  .name {
    text-align: center;
    font-size: 3rem;

    @include media('max', 'xl') {
      font-size: 2.5rem;
    }

    @include media('max', 's') {
      font-size: 2rem;
    }

    @include media('max', 'xs') {
      font-size: 1.8rem;
    }
  }
}

.video {
  border: 2px solid $clr-active;
  border-radius: $border-radius-small;
  height: 100%;
}

.strong {
  font-weight: 600;
  color: $clr-active;
}

.button {
  position: absolute;
  bottom: 100px;
  left: 50px;
  @include buttonMainActive;

  @include media('max', 'l') {
    position: static;
  }
}