.ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  // gap: $gap-great;
  margin-bottom: 80px;
  flex-wrap: wrap;

  // @include media ('min', 'm') {
  //   grid-template-columns: 1fr 1fr;
  //   justify-items: center;
  // }

  .li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-big;
    margin: 40px 20px;
    max-width: 470px;

    @include media ('max', 'm') {
      margin: 30px 0;
    }

    @include media ('min', 'xl') {
      max-width: 700px;
    }
  }
}

.featureHeader {
  font-weight: 400;
  text-align: center;
  font-size: 1.8rem;

  @include media('min', 'xl') {
    align-self: flex-start;
    font-size: 2rem;
  }
}

.section {
  position: relative;
  width: calc(100% - $padding-body * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-great;
}

.header {
  align-self: center;
}

.img {
  object-position: center;
  border: 2px solid $clr-active;
  border-radius: $border-radius-small;
  width: 100%;
  // height: 200px;

  // @include media ('min', 's') {
  //     height: 280px;
  //   }

  // @include media ('min', 'xl') {
  //   height: 350px;
  // }
}