.section {
  @include playgroundSection;
  gap: $gap-medium;
  margin-bottom: 10px;
  width: 100%;
}

.loaderWrapper {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
