.page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.blur {
  position: fixed;
  top: 10vh;
  left: 10%;
  height: 70vh;
  width: 80%;
  background-color: $clr-active-3;
  filter: blur(100px);
}

.title {
  @include title;
}