$header-height: 70px;
$footer-height: 30px;

$clr-base: rgb(33, 34, 45);
$clr-base-2: rgb(26, 32, 44);
$clr-base-3: rgb(19, 21, 27);
$clr-base-4: rgb(45, 47, 48);
$clr-base-5: rgb(23, 24, 33);


$clr-second: rgb(255, 255, 255);
$clr-second-2: #9293a0;
$clr-second-3: rgb(95, 96, 109);
$clr-second-4-a: rgb(33, 34, 46);

$clr-content: rgb(181, 183, 194);

$clr-active: rgb(78, 169, 252);
$clr-active-2: rgb(36, 149, 252);
$clr-active-3: rgba(37,149,253,.5);

$size-1: 4rem;
$size-2: 2rem;

$border-radius-small: 1.2rem;
$border-radius-tiny: 0.6rem;

$padding-medium: 3.2rem;

$width-form: 438px;

$gap-small: 1rem;
$gap-medium-a: 1.5rem;

$font-size-base: 1.4rem;

$transition-basic: .2s