$header-height: 70px;
$footer-height: 40px;

$clr-base: rgb(33, 34, 45);
$clr-base-2: rgb(24, 25, 34);
$clr-base-3: rgb(19, 21, 27);
$clr-base-4: rgb(28, 28, 31);
$clr-base-5: rgb(23, 24, 33);

$clr-second: rgb(255, 255, 255);
$clr-second-2: #9293a0;
$clr-second-3: rgb(95, 96, 109);
$clr-second-4-a: rgb(33, 34, 46);

$clr-content: rgb(181, 183, 194);

$clr-active: rgb(78, 169, 252);
$clr-active-2: rgb(36, 149, 252);
$clr-active-3: rgba(37, 149, 253, 0.5);

$clr-blur: rgba(36, 149, 252, 0.3);
$clr-blur-2: rgba(254, 185, 88, 0.3);
$clr-blur-3: rgb(30, 170, 20, 0.3);

$clr-hover: rgb(30, 170, 20);

$clr-danger: rgb(235, 13, 106);

$height-input: 4rem;

$border-radius-small: 1.2rem;
$border-radius-tiny: 0.6rem;

$padding-medium: 3.2rem;
$padding-small-k: 1.5rem;
$padding-body-a: 2rem;

$width-form: 438px;

$gap-small: 1rem;
$gap-medium-a: 1rem;
$gap-medium-k: 2rem;

$font-size-base: 1.4rem;
$font-size-1-y: 4rem;
$font-size-2-y: 2rem;
$font-size-3-y: 1.8rem;

$transition-basic: 0.2s;
$transition-color: color 0.5s;
