.cm-gutters {
  border-radius: $border-radius-tiny;
  @include media('max', 'm') {
    background-color: $clr-base !important;
  }

  &:hover {
    .cm-foldGutter {
      opacity: 1;
    }
  }
}

.cm-foldGutter {
  opacity: 0;
  transition: $transition-basic;

  &:hover {
    opacity: 1;
  }
}