@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

.Resizer {
  background-color: aqua;
}