@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  min-width: 320px;

  & ::-webkit-scrollbar {
    width: 4px;
  }

  & ::-webkit-scrollbar-thumb {
    background: $clr-scroll;
    border-radius: $border-radius-tiny;
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.split-sash-content.split-sash-content-vscode {
  transition: 0.2s;
  border-radius: 5px;
}

.react-split__sash--horizontal:hover {
  &::before {
    background: transparent;
  }
}

.react-split__sash--horizontal:before {
  position: absolute;
  transition: 1s;
  top: 1.5px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: $clr-second-3;
}
