.body {
  padding: 0 20px;
  font-size: $size-4-y;
  background-color: $clr-base-2;
  color: $clr-second;
}

.main {
  position: relative;
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - $footer-height - $header-height);
}