.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 $padding-body;
  margin-left: -$padding-body;
  height: $header-height;
  gap: $gap-small;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: $clr-base-2;
  transition: $transition-basic;
  border-radius: 0 0 $border-radius-small $border-radius-small;
  min-width: 320px;
}

.filling {
  transition: $transition-basic;
  height: calc($header-height - 2rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
