.button {
  transition: $transition-basic;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  min-width: 70px;
  cursor: pointer;
  font-family: inherit;
}

.normal {
  border: 1px;
  background-color: $clr-base-2;
  color: $clr-second;

  &:hover {
      background-color: $clr-base;
    }
}

.active {
  background-color: $clr-active-2;
  color: $clr-second;

  &:hover {
    background-color: $clr-active;
  }

}