.body {
  padding: 0 $padding-body;
  font-size: $font-size-base;
  background-color: $clr-base-2;
  color: $clr-second;
  position: relative;
  overflow-x: hidden;
}

.main {
  margin-top: $header-height;
  position: relative;
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - $footer-height - $header-height);

  @include media('max', 's') {
    min-height: calc(100vh - $footer-height * 2 - $header-height);
  }
}
