.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 80px;
  width: 100%;

  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
  }

  .title {
    font-size: $font-size-1;
    text-align: center;
  }

  .api {
    margin-bottom: 30px;
    font-size: $font-size-2;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $clr-active;
    transition: $transition-color;

    &:hover {
      color: $clr-hover;
    }

    @include media('max', 'xs') {
      font-size: 1.8rem;
    }
  }

  .descr {
    font-size: $font-size-3;
    max-width: 600px;

    @include media('max', 's') {
      font-size: $font-size-4;
    }

    &:last-child {
      display: none;
    }
  }

  .imgWrapper {
    position: relative;
    width: 100%;
    padding: 0 0 70% 0;
  }

  .blur {
    position: absolute;
    width: 200px;
    height: 200px;
    filter: blur(60px);
    background-color: $clr-blur;

    &:first-child {
      bottom: 0;
      right: 50%;
      width: 80px;
      height: 80px;
      background-color: $clr-blur;
    }

    &:nth-child(2) {
      top: 10%;
      right: 0;
      width: 100px;
      height: 100px;
      background-color: $clr-blur-2;
    }
  }
}

.techStackLink {
  color: $clr-active;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: $transition-color;

  &:hover {
    color: $clr-hover;
  }
}

.RSLink {
  color: $clr-active;
  transition: $transition-color;

  &:hover {
    color: $clr-hover;
  }
}

.strong {
  font-weight: 600;
  color: $clr-active-4;
}

@include media('min', 'xl') {
  .info .descr:last-child {
    display: block;
  }
}

@include media('min', 'l') {
  .info {
    margin: 100px 0 150px;

    .infoWrapper {
      width: 45%;
    }

    .imgWrapper {
      width: 55%;
      padding: 0 0 35% 0;
    }
  }
}

@include media('min', 's') {
  .info {
    .blur {
      width: 300px;
      height: 300px;

      &:first-child {
        width: 150px;
        height: 150px;
      }

      &:nth-child(2) {
        width: 200px;
        height: 200px;
      }
    }
  }
}

.parallax {
  will-change: transform;
  div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.gadget {
  width: 100%;
  height: 100%;
}

.img {
  animation: img 2s ease-in;
}

.gadget {
  animation: gadget 2s ease-in;
}

.animation {
  animation: updown 5s ease-in-out infinite;
  div:hover & {
    animation: none;
  }
}

@keyframes updown {
  10% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes img {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gadget {
  0% {
    opacity: 0;
    transform:  scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
